<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>じゃんけん</title>
</head>

<body>
  <h1>Janken GAME!</h1>
  <p>Hi [[${username}]]</p>

  <div>
    <a href="/play?hand=ぐー">ぐー</a>
    <a href="/play?hand=ちょき">ちょき</a>
    <a href="/play?hand=ぱー">ぱー</a>
  </div>

  <div th:if="${playerHand != null}">
    <h3>結果</h3>
    <p>あなたの手: <span th:text="${playerHand}"></span></p>
    <p>相手の手: <span th:text="${cpuHand}"></span></p>
    <p>結果: <span th:text="${result}"></span></p>
  </div>
</body>

</html>
