<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>じゃんけん</title>
</head>

<body>
  <h1>じゃんけん</h1>
  <div th:if="${username != null}">
    <h2>Hi <span th:text="${username}"></span></h2>
  </div>

  <div>
    <a th:href="@{/play(hand='ぐー')}">ぐー</a>
    <a th:href="@{/play(hand='ちょき')}">ちょき</a>
    <a th:href="@{/play(hand='ぱー')}">ぱー</a>
  </div>

  <div>
    <p>あなたの手: <span th:text="${playerHand}"></span></p>
    <p>相手の手: <span th:text="${cpuHand}"></span></p>
    <p>結果: <span th:text="${result}"></span></p>
  </div>
</body>

</html>
