<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8">
  <title>Janken Game</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken GAME!</h1>
  <p>Hi <span th:text="${loginUser}">ユーザー</span></p>

  <h2>エントリー</h2>
  <ul>
    <li th:each="user : ${users}">
      <a th:href="@{/match(id=${user.id})}">[[${user.name}]]</a>
    </li>
  </ul>

  <h3>試合結果</h3>
  <div th:each="match : ${matches}">
    <p>
      id:<span th:text="${match.id}"></span>
      user1:<span th:text="${match.user1}"></span>
      user2:<span th:text="${match.user2}"></span>
      user1の手:<span th:text="${match.user1Hand}"></span>
      user2の手:<span th:text="${match.user2Hand}"></span>
      結果:<span th:text="${match.result}"></span>
    </p>
  </div>

</body>

</html>
