<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8">
  <title>Match</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Match</h1>
  <p>[[${opponent.name}]] V.S. [[${user}]]</p>
  <a th:href="@{/fight(id=${opponent.id}, hand='Gu')}">ぐー</a>
  <a th:href="@{/fight(id=${opponent.id}, hand='Choki')}">ちょき</a>
  <a th:href="@{/fight(id=${opponent.id}, hand='Pa')}">ぱー</a>
  <p><a href="/janken">もどる</a></p>
</body>

</html>
